:root{
 --primary-color: #1B1A55;
 --secondary-color: #070F2B;
 --accent-color: #535C91;
 --highlight-color: #9290C3;
 
 --primary-text-color: #ffffff;
}

*{
  box-sizing: border-box;
}

body{
  min-height: 100dvh;
  background: var(--secondary-color);
  color: var(--primary-text-color);
}

main{
  min-height: calc(100dvh - 148px);
  display: grid;
  place-items: center;
}
nav{
  width: 100%;
}
.foot{
  background-color: var(--primary-color);
  height: 60px;
}